/*==============================================================
  # General.
==============================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #edeff2;
  color: #6a859c;
}

/* --- Links. --- */
a {
  outline: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- Typography --- */
h2 {
  margin: 10px 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

/* --- Layout. --- */
.container {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  width: 100%;
  margin: 0 10px;
}

.row::after {
  display: block;
  content: "";
  clear: both;
}

.row [class^="col"] {
  float: left;
  padding: 0 10px;
}

/* --- Grid Layout. --- */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media (max-width: 768px) {
  .row [class^="col"] {
    float: none;
    margin: 10px 0;
  }

  .col {
    width: 100%;
  }
}

/* --- Inner container. --- */
.wrapper {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #ffffff;
}

/* --- General button. --- */
.btn {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 4px;
  color: #ffffff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* --- Sign Up button. --- */
.btn-sign-up {
  padding: 12px 30px;
  background-color: #69b9ff;
  transition: background-color 300ms ease;
}

.btn-sign-up:hover {
  background-color: #2e9dff;
}

/* --- Learn More button. --- */
.btn-learn-more {
  border: 1px solid #ffffff;
  transition: background-color 300ms ease,
              border 300ms ease,
              color 300ms ease;
}

.btn-learn-more:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

/* --- Tab button. --- */
.btn-tab {
  margin-right: 8px;
  margin-left: 8px;
  padding: 12px 30px;
  background-color: #92a0ad;
  transition: background-color 300ms ease;
  font-size: 16px;
}

.btn-tab.active,
.btn-tab:hover {
  background-color: #2e80b6;
}

/* --- General titles. --- */
.heading,
.subheading {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 30px;
  letter-spacing: 5px;
}

.subheading {
  font-size: 18px;
  letter-spacing: 3px;
}

/*==============================================================
  # Header (Menu navigation).
==============================================================*/
.header {
  background-color: #fff;
  overflow: hidden;
}

.header .logo {
  float: left;
  padding: 1em 0;
}

.header .logo .name {
  color: #69b9ff;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
}

.header .menu {
  float: right;
}

.menu li {
  display: inline-block;
  text-align: left;
  padding: 1.25em;
}

.menu .menu-item {
  color: #676770;
}

.menu a.active,
.menu a:hover {
  color: #0082f3;
}

/* --- Container for menu button --- */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  float: right;
}

#menu-toggle {
  display: none;
}

/* --- Creating the menu button --- */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000000;
  position: absolute;
  height: 3px;
  width: 30px;
  border-radius: 3px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* --- Hamburger Menu --- */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background-color: #ffffff;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-45deg); /* transforms the hamburger icon into a cross  */
}

@media only screen and (max-width: 768px) {
  .menu-button-container {
    display: block;
    margin-top: 1.55em;
  }

  .menu ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 65px;
    width: 100%;
  }

  #menu-toggle:checked ~ .menu ul {
    display: block;
  }

  .menu ul > li {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
  }

  .menu ul > li:not(:last-child) {
    border-bottom: 3px solid #eeeeee;
  }
}

/*==============================================================
  # Banner section.
==============================================================*/
.banner {
  padding: 195px 0;
  border-bottom: 4px solid #69b9ff;
  background-image: linear-gradient(
                      180deg,
                      rgba(46, 157, 255, 0.5),
                      rgba(46, 157, 255, 0.22)
                    ),
                    url("../img/banner-background.jpg");
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  text-align: center;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px)
             scale3d(1, 1, 1)
             rotateX(0deg)
             rotateY(0deg)
             rotateZ(0deg)
             skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.banner .heading {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.banner .subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
}

/*==============================================================
  # Offer section (What We Do).
==============================================================*/
.offer {
  padding: 80px 10px;
  background-color: #ffffff;
  text-align: center;
}

.offer .heading {
  color: #676770;
}

.offer .subheading {
  color: #8e8e9c;
  margin-bottom: 60px;
}

.offer .wrapper img {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.offer .wrapper h3 {
  color: #676770;
}

/*==============================================================
  # Services section.
==============================================================*/
.service {
  padding: 80px 10px;
  background-color: #192024;
  text-align: center;
}

.service .heading,
.service .subheading {
  color: #ffffff;
}

.service .subheading {
  margin-bottom: 50px;
}

.service .wrapper {
  border-style: none;
  background-color: transparent;
}

.service .wrapper img {
  margin-bottom: 20px;
}

.service .wrapper h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.service .wrapper p {
  margin-bottom: 20px;
  color: #ffffff;
}

/*==============================================================
  # Tab's section.
==============================================================*/
.tab {
  padding: 80px 10px;
  background-color: #ffffff;
  text-align: center;
}

.tab .subheading {
  margin-bottom: 50px;
}

.tab .tab-menu {
  margin-bottom: 40px;
}

.tab-content .content-item {
  display: none;
}

.tab-content .content-item.active {
  display: block;
}

.content-item h2 {
  color: #676770;
}

@media (max-width: 768px) {
  .tab-menu .btn-tab {
    margin-top: 10px;
    margin-left: 10px;
  }
}

/*==============================================================
  # Footer-Top section.
==============================================================*/
.footer-top {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-top h5 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.footer-top .footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-top .icon {
  float: left;
  margin-right: 7px;
}

@media (max-width: 768px) {
  .footer-top {
    text-align: center;
  }

  .footer-top h5 {
    margin-top: 35px;
  }

  .footer-top .icon,
  .footer-top .footer-link {
    display: inline;
    border: none;
  }

  .footer-top .icon {
    float: none;
  }
}